*,
*::before *::after {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  font-weight: 400;
  font-family: "Comic Sans", "Helvetica Neue", Helvetica, A;
  background: rgba(255, 190, 167, 255);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
  /* border: 2px solid red; */
}

.popbox-content,
.score-container,
.btn-container,
.score-text,
.bar-text,
.score-header {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.head-content {
  display: flex;
  height: 200px;
  align-items: center;
  margin-bottom: 50px;
  /* border: 2px solid blue; */
}

.middle-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  /* border: 2px solid blueviolet; */
}

.bottom-content {
  display: flex;
  justify-content: space-between;
  /* border: 2px solid blue; */
}

.image {
  width: 300px;
  height: 300px;
  cursor: pointer;
  position: relative;
  /* border: 2px solid green; */
}

.image:hover {
  top: -15px;
}

.box-container {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 300px;
  align-items: center;
  position: relative;
  justify-content: space-between;
  /* border: 2px solid blue; */
}

.bar {
  width: 500px;
  height: 125px;
  position: relative;
  border-radius: 20px;
  background: rgba(242, 247, 249);
  border: 5px solid rgb(218, 223, 226);
  /* rgb(86, 88, 88) */
}

/* bar div  */
.bar-text {
  width: 450px;
  height: 100px;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: 2px solid red; */
}

/* bar text  */
.bar-text {
  font-size: 35px;
  color: rgb(86, 88, 88);
  font-family: "Segoe print";
  font-weight: bold;
}

.score {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  height: 300px;
  position: relative;
  border-radius: 20px;
  background: rgb(253, 138, 41);
  border: 5px solid white;
}

.score-text {
  width: 250px;
  height: 150px;
  display: flex;
  position: absolute;
  margin-top: 100px;
}

.score-text {
  font-size: 85px;
  color: white;
  font-family: "Segoe print";
  font-weight: bold;
  /* border: 2px solid red; */
}

.score-header {
  width: 300px;
  height: 100px;
  display: flex;
  position: absolute;
  overflow: hidden;
  word-wrap: break-word;
  /* border: 2px solid green; */
}

.score-header {
  font-size: 55px;
  text-align: center;
  color: rgb(200, 96, 26);
  font-family: "Segoe print";
  font-weight: bold;
  text-shadow: 0 0 2px antiquewhite;
}

/* Set a style for all buttons */
button {
  font-family: "Comic Sans MS";
  font-size: 20px;
  background-color: antiquewhite;
  color: rgb(86, 88, 88);
  cursor: pointer;
  width: 40%;
  height: 35px;
  border-radius: 10px;
  border: 1px solid rgb(253, 138, 41);
}

button:hover {
  opacity: 0.8;
}

.score-container,
.btn-container {
  margin: 25px;
  /* border: 2px solid green; */
}

.btn-container {
  margin-top: 35px;
}

.pop-text {
  font-size: 45px;
  text-align: center;
  font-family: "Comic Sans MS";
  color: white;
  /* border: 2px solid red; */
}

/* The Modal (background) */
.pop-box {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  padding-top: 60px;
  /* border: 2px solid greenyellow; */
}

.pop-content {
  width: 600px;
  padding-top: 30px;
  border-radius: 10px;
  border: 5px solid antiquewhite;
}

/* Modal Content/Box */
.popbox-content {
  padding: 10px;
  background-color: rgb(253, 138, 41);
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  max-width: 600px;
  border-radius: 10px;
  display: flex;
  /* border: 2px solid blue; */
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.7s;
  animation: animatezoom 0.7s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.container,
.pop-box {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
